{{/* html head 信息 */}}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{/* 标题 */}}
  {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ end }}

  {{/* logo 图标 */}}
  {{ if .Site.Params.Favicon }}
    <link rel="shortcut icon" href="{{ relLangURL .Site.Params.Favicon }}" />
  {{ end -}}

  {{/* 导入主题 CSS */}}
  {{ $vars := dict "highlight-style" (default "-" .Site.Params.highlight.style) }}
  {{ $opts := dict "transpiler" "dartsass" "vars" $vars }}
  {{ $style := resources.Get "css/main.scss" | resources.ToCSS $opts | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

  {{/* 导入主题 JavaScript */}}
  {{ $js := resources.Get "js/main.ts" | js.Build | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $js.RelPermalink }}"></script>

  {{/* 站点分析工具 */}}
  {{ if .Site.Params.analytics.umami.id }}
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="{{ .Site.Params.analytics.umami.id }}"
    ></script>
  {{ end }}
</head>
