@use 'base' as *;
@use 'variables' as v;

// 主容器
.container {
  align-items: flex-start;
  display: flex;
  margin: 40px auto;
  max-width: v.$screen-md-max;
  padding: 0 20px;

  @include screen-md {
    max-width: v.$screen-md-max;
  }

  @include screen-sm {
    max-width: v.$screen-sm-max;
  }

  // 主模块
  .main-section {
    margin: 0 auto;
    max-width: v.$screen-sm-max;
    width: 100%;
  }
}

// 文章模块
.article-wrapper {
  margin: 50px 0 0;
}
