{{ define "main" }}
  <main class="container">
    <section class="term">
      {{ $pages := where .Site.RegularPages "Type" "in" $.Site.MainSections }}
      {{ range $idx, $group := $pages.GroupByDate "2006" }}
        <h2 class="term-title r-background-color-before" data-rand="{{ mod $idx 5 }}">
          <a class="term-link" href="#{{ .Key }}">{{ $group.Key }}</a>
        </h2>
        <ul class="term-article-list">
          {{ range $group.Pages }}
            <li>
              <span class="term-article-time">{{ .PublishDate.Format "01-02" }}</span>
              <a class="term-link" href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </section>
  </main>
{{ end }}
