{{ define "main" }}
  <main class="container container-list">
    <section class="main-section">
      {{ range where .Site.RegularPages "Type" "in" .Site.MainSections }}
        <article class="article-wrapper">
          <div class="article-header">
            <h2 class="article-title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <div class="article-meta">
              {{ $hidePublishDate := .Site.Params.article.hidePublishDate }}
              {{ $publishDate := .Date.Format "2006-01-02" }}
              {{ $modifyDate := .Lastmod.Format "2006-01-02" }}
              {{ if not $hidePublishDate }}
                <div class="article-meta-item">
                  {{ partial "icon" "calender" }}
                  <span>发布于</span>
                  <time>{{ .Date.Format "2006-01-02" }}</time>
                </div>
              {{ end }}
              {{ if or $hidePublishDate (ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02")) }}
                <div class="article-meta-item">
                  {{ partial "icon" "calender" }}
                  <span>更新于</span>
                  <time>{{ .Lastmod.Format "2006-01-02" }}</time>
                </div>
              {{ end }}
              <div class="article-meta-item">
                {{ partial "icon" "time" }}
                <span>{{ .WordCount }}字</span>
                <span>&</span>
                <span>{{ .ReadingTime }}分钟</span>
              </div>
              {{/* 标签 */}}
              {{ with .GetTerms "tags" }}
                <div class="article-meta-item article-tags">
                  {{ range . }}
                    <a class="article-tag" href="{{ .RelPermalink }}">
                      {{ partial "icon" "tag" }}
                      <span>{{ .LinkTitle }}</span>
                    </a>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </div>
          <div class="article article-summary">
            {{ .Summary }}
          </div>
          {{ if .Truncated }}
            <div class="article-read-more">
              <a class="article-read-more-link" href="{{ .RelPermalink }}">阅读全文</a>
            </div>
          {{ end }}
        </article>
      {{ end }}
    </section>
  </main>
{{ end }}
