$screen-sm-min: 0; // 小屏幕最小宽度，只展示正文
$screen-md-min: 768px; // 中等屏幕最小宽度，只展示正文
$screen-lg-min: 1088px; // 大屏幕最小宽度，同时展示正文和侧边栏

$screen-sm-max: $screen-md-min - 1px;
$screen-md-max: $screen-lg-min - 1px;

:root {
  // 字体
  --font-family-code: 'Menlo', 'Monaco', 'Consolas', 'Courier New', 'Monospace';
}
