<footer class="footer">
  {{ if .Site.Params.footer.prefix }}
    <div>{{ .Site.Params.footer.prefix }}</div>
  {{ end }}
  <div>
    {{/* 如果起始年份与当前年份相同或起始年份未设置，则只展示当前年份 */}}
    {{ $lastmod := .Site.Lastmod }}
    {{ if eq (.Site.Lastmod.Format "2006") "0001" }}
      {{ $lastmod = now }}
    {{ end }}
    {{ if or (eq (string .Site.Params.footer.since) ($lastmod.Format "2006")) (not .Site.Params.footer.since) }}
      <span>© {{ $lastmod.Format "2006" }}</span>
    {{ else }}
      <span>© {{ .Site.Params.footer.since }} - {{ $lastmod.Format "2006" }}</span>
    {{ end }}
    <span>{{ .Site.Params.author.name }}</span>
    {{/* 备案信息 */}}
    {{ if .Site.Params.footer.beian }}
      <span class="footer-separator">|</span>
      <a href="https://beian.miit.gov.cn/" target="_blank">{{ .Site.Params.footer.beian }}</a>
    {{ end }}
  </div>
  {{ if .Site.Params.footer.suffix }}
    <div>{{ .Site.Params.footer.suffix }}</div>
  {{ end }}
</footer>
