<header class="header">
  <div class="header-wrapper">
    <nav class="header-brand-wrapper">
      <a class="header-brand" href="{{ .Site.BaseURL }}">
        {{ with .Site.Params.Favicon }}
          <img class="header-brand-logo" src="{{ relLangURL . }}" alt="Logo" />
        {{ end }}
        <h1 class="header-brand-title">{{ .Site.Title }}</h1>
      </a>
      <div class="header-menu-toggle">
        {{ partial "icon" "menu" }}
      </div>
    </nav>
    <nav class="header-menu">
      <ul class="header-menu-list">
        {{ range .Site.Menus.header }}
          <li class="header-menu-item">
            <a href="{{ .URL }}"> {{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
