@use 'base' as *;
@use 'variables' as v;

// 顶部栏
.header {
  background: #3c8cff;
  color: #f5f5f5;

  a {
    color: #f5f5f5;
    text-decoration: none;
  }
}

// 顶部栏容器
.header-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  max-width: v.$screen-lg-min;
  padding: 12px;

  @include screen-sm {
    display: block;
  }
}

// 站点品牌容器, 包含菜单按钮
.header-brand-wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  min-height: 55px;
}

// 站点品牌相关
.header-brand {
  display: flex;
  gap: 10px;

  .header-brand-logo {
    width: 32px;
  }

  .header-brand-title {
    font-size: 24px;
    margin: 0;
  }
}

// 导航菜单
.header-menu {
  flex-grow: 1;
  text-align: right;

  @include screen-sm {
    display: none;
    text-align: center;

    &.header-menu-open {
      border-top: 1px solid #f5f5f5;
      display: block;
      margin-top: 8px;
    }
  }
}

// 导航菜单列表
.header-menu-list {
  display: block;
  margin: 8px 0;
  padding: 0;

  @include screen-sm {
    margin-top: 8px;
  }
}

// 导航菜单选项
.header-menu-item {
  display: inline-block;
  list-style: none;
  margin: 0 4px;

  @include screen-sm {
    display: block;
  }

  :hover {
    background: rgb(255 255 255 / 25%);
    transition: 800ms;
  }

  a {
    display: block;
    padding: 8px 16px;
  }
}

// 导航菜单按钮
.header-menu-toggle {
  display: none;
  flex-grow: 1;
  text-align: right;

  @include screen-sm {
    display: block;
  }

  svg {
    fill: white;
    height: 24px;
    margin-top: 4px;
    width: 24px;
  }
}
