// Tabs 组
.ice-tabs {
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  margin: 1rem 0;
}

// Tabs 标题
.ice-tabs-header {
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0 !important;

  li {
    cursor: pointer;
    list-style: none;
    padding: 3px 16px;
  }

  li:hover {
    color: #007acc;
  }

  li[data-active='true'] {
    border-bottom: 3px solid #007acc;
    font-weight: bold;
  }

  p {
    color: gray;
    list-style: none;
    padding: 5px 16px;
  }
}

// Tabs 内容
.ice-tabs-content {
  > div {
    display: none;
    margin: 16px;

    > p {
      margin: 16px 0;
    }
  }

  > div[data-active='true'] {
    display: block;
  }
}
